@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
body {
  padding: 75px 0px;
  color: white;
  font-family: "Nunito", sans-serif;
  background: #f1605c;
  background: linear-gradient(90deg, #f1605c 0%, #f88552 100%);
}

h1 {
  font-weight: 700;
  font-size: 60px;
}

p {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 35px;
}

form {
  background-color: #191B2C;
  padding: 20px 60px;
  border-radius: 12px;
}
form .form-control {
  background-color: #404354;
  font-size: 14px;
  border: 0px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}
form .form-control:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #404354;
  outline: none;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  background-color: #12B4C5;
  border: 0px;
  padding: 12px 50px;
  border-radius: 8px;
  margin-bottom: 25px;
}
a:hover {
  text-decoration: none;
  color: #12B4C5;
  background-color: white;
  animation-name: button-animation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.form-group {
  margin: 25px 0px;
}

@keyframes button-animation {
  0% {
    color: white;
    background-color: #12B4C5;
    bottom: 0px;
  }
  100% {
    color: #12B4C5;
    background-color: white;
    bottom: 8px;
  }
}
@media (max-width: 600px) {
  body {
    padding: 60px 0px;
  }

  h1 {
    font-size: 45px;
  }

  p {
    padding: 0px 50px;
  }

  form {
    padding: 15px 30px;
  }
}